* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main,
.header,
.header1,
.header2,
.header3,
.left-menu,
.e-mails,
.quick-settings,
.side-panel {
    border: solid 1px black;
}

.container {
    display: grid;
    grid-template: 
    'header' 100px
    'main' 1fr/
     1fr ;
    height: 100vh;
    width: 100vw;
}
.header {
    grid-area: header;
}
.main {
    grid-area: main;
}

.header {
    display: grid;
    grid-template: 
    'header1 header2 header 3' 1fr /
     230px 1fr  250px;
}

.header1{
    grid-area: header1;
}
.header2{
    grid-area: header2;
}
.header3{
    grid-area: header3;
}

.main {
    display: grid;
    grid-template: 
    'left-menu e-mails quick-settings side-panel' 1fr /
     230px 1fr  200px 50px;
}